

.raleway-uniquifier{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
    
}
.button-primary{
    font-size: 16px;
    color :white;
    background-color:rgba(78, 71, 255, 1) ;
    font-weight: bold;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}
.nav-title{
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
}
nav ul li {
    list-style: none;
}
header{
    background-image: url('../images/Hero-bg.png'); 
    background-repeat: repeat; 
    background-size: auto; 
    background-color: #f3f4f6;
   
    
}

/* banner styles */
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin: 158px 217.5px; 
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    align-items: center;
}
.line{
    display: block;
}
.second-button{
    font-size: 16px;
    color :white;
    background-color:rgba(78, 71, 255, 1) ;
    font-weight: bold;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;

}
.banner2{
    display: flex;
    justify-content: space-between;
    margin: 105px 140px;

}
.banner2-title{
    font-weight: bold;
    font-size: 42px;
}
.banner-description{
    font-weight: 200px;
    font-size: 24px;
}
.banner-pic{
    border-radius:48px;
    overflow: hidden;
}
/* Productive users */
.user-bg{
    background-color:rgb(213, 222, 254)  ;
    width: 1140px;
   
    margin: 0px 159px;
    border-radius: 24px;
}
.user-title{
    font-size: 38px;
    font-weight: bold;
    padding: 30px 0 10px;
    text-align: center;
}
.user-data{
    display: flex;
    justify-content: space-around;
    padding-bottom: 30px;
    margin: 0;
}
.numbers{
    color: #4E47FF;
    font-size: 80px;
    font-family: sans-serif;
}
.data{
    font-size: 20px;
    font-family: sans-serif;
    font-weight: normal;
    margin-top: 30px;
    padding: 0 0 30px 30px;
}
.user-items{
    line-height: 1.2;
    text-align: center;
}
/* review */
.reviews{
    
    text-align: center;
}
.review-container{
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}
.review{
    padding: 24px 24px;
}
.reviewer-avatar{
    display: flex;
    gap: 10px; 
}
.review-title{
    font-size: 26px;
}
.review-description{
    font-weight: normal;
}
.reviewer-name{
    color:#757575;
}
.review-date{
    color: #B3B3B3;
}
/* Webflow */
.webflow{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 142px;
}
.webflow-title{
    font-size: 50px;
    font-weight: bold;
    margin-top: 20px;
}
.webflow-description{
    color: rgba(0, 0, 0, 0.5);
    font-size: 16px;
    font-weight: 400;
}
.third-button{
    font-size: 16px;
    color :white;
    background-color:rgba(78, 71, 255, 1) ;
    font-weight: normal;
    padding: 12px 36px;
     margin: 20px 146px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.webflow-pix{
    border-radius: 48px;
    overflow: hidden;
    width: 840px;
    height: 364.77px;
}
