

.raleway-uniquifier{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
/* nav styles */
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 50px 150px;
    
}
.button-primary{
    font-size: 16px;
    color :white;
    background-color:rgba(78, 71, 255, 1) ;
    font-weight: bold;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
}
.nav-title{
    font-size: 34px;
    color: rgba(78, 71, 255, 1);
}
nav ul li {
    list-style: none;
}
body{
    background-image: url('../images/Hero-bg.png'); 
    background-repeat: repeat; 
    background-size: auto; 
    background-color: #f3f4f6;
    gap: 158px;
    
}

/* banner styles */
.banner{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
     margin: 158px 217.5px; 
}
.banner-title{
    font-size: 65px;
    font-weight: bold;
    align-items: center;
}
.line{
    display: block;
}
.second-button{
    font-size: 16px;
    color :white;
    background-color:rgba(78, 71, 255, 1) ;
    font-weight: bold;
    padding: 12px 36px;
    border: none;
    border-radius: 10px;
    display: flex;
    align-items: center;

}